$fontSize: 14px;
$backgroundColor: #00509D;
$fontColor: #FFFFFF;

.custom{
    border: none;
    padding: 0.4rem 1rem;
    
    text: {
        align: center;
        decoration: none;
        transform: uppercase;    
    }
    
    display: inline-block;
    font-size: $fontSize;
    margin: 0.4rem 0.8rem;
    transition-duration: 0.4s;
    cursor: pointer;
    width: auto;
    max-width: 300px;
    border-radius: 1rem;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: $backgroundColor;
    color: $fontColor;
    border: 0.15rem solid $backgroundColor;
    
    &:hover{
        background-color: $fontColor;
        color: $backgroundColor;
    }
}

/*Always add a span class around the text in order to achieve an arrow*/
.arrow{
    @extend .custom;

    & span{
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.4s;
        
        &:after{
            content: '\00bb';
            font-weight:600;
            position: absolute;
            opacity: 0;
            top: 0;
            right: -1rem;
            transition: 0.4s;
        }
    }

    &:hover{
        background-color: $fontColor;
        color: $backgroundColor;

        & span{
            padding-right: 1rem;
        
            &:after{
                opacity: 1;
                right: 0;
            }
        }
    }
}